@charset "UTF-8";
/*Fuentes*/
@font-face {
  font-family: raleway;
  src: url("../font/Raleway-ExtraLight.ttf");
}
@font-face {
  font-family: raleway-regular;
  src: url("../font/Raleway-Regular.ttf");
}
@font-face {
  font-family: raleway-semibold;
  src: url("../font/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: open-sans;
  src: url("../font/OpenSansCondensed-Light.ttf");
}
@font-face {
  font-family: open-sans-bold;
  src: url("../font/OpenSansCondensed-Bold.ttf");
}
body {
  background: #e8e8e8;
}

h2 {
  font-family: open-sans-bold;
  color: #000;
  font-size: 50px;
  padding: 0;
}

h4 {
  font-family: raleway-regular;
  color: #30475e;
  font-size: 28px;
  padding: 0;
}

p {
  font-family: raleway-regular;
  color: #000;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

/*Barra de menu*/
.menu {
  background-color: transparent !important;
  position: absolute;
  z-index: 10;
  width: 100%;
  margin-top: 10px;
  padding: 0 25px;
}

.menu_icon {
  width: 30px;
  height: 30px;
  margin: 3px;
}

.menu_opciones {
  position: absolute;
  right: 20px;
}

.nav-link {
  color: white !important;
  font-family: raleway;
  font-size: large;
}

.navbar-brand {
  color: white !important;
  font-family: raleway;
  font-style: bold;
  font-size: 3vw;
}

/*Carrusel*/
.carousel_principal {
  margin-bottom: 20px;
}

.carousel_inner_principal {
  position: relative;
}

.carousel-item_principal {
  position: relative;
  height: 100%;
}

.fondo {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  top: 0;
}

.caption {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 1;
  top: 0;
}
.caption h2 {
  opacity: 1;
  color: white;
  font-size: 6.5vw;
  z-index: 12;
  text-align: center;
  padding: 0 20px;
  font-family: raleway-semibold;
  font-style: bold;
}

.separador {
  position: absolute;
  bottom: 0;
  z-index: 500;
  height: 25%;
  width: 100vw;
}

/*Sección Descripción*/
.section-descripcion {
  background-color: #e8e8e8;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.contenedor_descripcion {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  /*border: #30475E 2px solid;*/
}

.row {
  /*border: #247acf 2px solid;*/
  margin: 0;
  padding: 0;
}

.col_descripcion {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  /*border: #247acf 2px solid;*/
}

.texto_descripcion {
  width: -webkit-fit-content;
  width: fit-content;
  text-align: left;
  padding-top: 10%;
  padding-left: 25%;
  margin: auto;
  bottom: 0;
  /*border: #30475E 2px solid;*/
}
.texto_descripcion h2,
.texto_descripcion h4 {
  margin-bottom: 10px;
}

.col_img_descripcion {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
}

#img_descripcion {
  width: 330px;
  padding: 0;
  margin-right: 25%;
  /* border: #30475E 2px solid;*/
}

.separador_descripcion {
  position: absolute;
  top: 70%;
  z-index: 500;
  width: 100%;
  height: 30%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #e73939 2px solid;
}
.separador_descripcion img {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .texto_descripcion {
    margin: 0;
    padding-left: 0;
    text-align: center;
  }

  #img_descripcion {
    margin: 0;
    width: 90%;
  }
}
/*Sección funcionalidades*/
.section_funcionalidades {
  background-color: #e8e8e8;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.section_funcionalidades .row {
  height: 570px;
  position: relative;
}
.section_funcionalidades .carousel-control-prev-icon,
.section_funcionalidades .carousel-control-next-icon {
  background-color: #30475e;
  opacity: 0.55;
  border-radius: 50%;
  padding: 5px;
}

.contenedor_funcionalidades {
  margin: 0;
  padding: 0;
  width: 100%;
  /* border: #30475E 2px solid;*/
}

.texto_funcionalidades {
  width: -webkit-fit-content;
  width: fit-content;
  text-align: center;
  margin: auto;
  /*border: #30475E 2px solid;*/
}
.texto_funcionalidades h2,
.texto_funcionalidades h4 {
  margin-bottom: 10px;
}

.botones-funcionalidades {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.boton_funcionalidad {
  padding: 10px 20px;
  margin: 10px;
  background-color: #222831;
  font-family: raleway-regular;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
}
.boton_funcionalidad:hover {
  background-color: #e8e8e8;
  border: solid #222831;
  color: #000;
}

#boton_guarda {
  background-color: #e8e8e8;
  border: solid #222831;
  color: #000;
}

.descripcion_funcionalidades {
  margin: 0;
  padding: 0;
}

.col_carrusel_funcionalidad {
  position: relative;
  margin: 0;
  padding: 0;
  height: -webkit-fit-content;
  height: fit-content;
}

.carrusel_guardar,
.carrusel_clasificar,
.carrusel_repasar {
  position: absolute;
  top: 0;
  right: 5%;
  left: 12%;
  margin: 0;
  padding: 0;
}

.carrusel_clasificar,
.carrusel_repasar,
#explicacion_clasificar,
#explicacion_repasar {
  display: none;
}

.carrusel_funcionalidad {
  margin-top: 0;
  width: 90%;
  text-align: center;
}
.carrusel_funcionalidad .carousel-item img {
  margin: auto;
  width: 300px !important;
}

.col_explicacion_funcionalidad {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explicacion_funcionalidad {
  position: absolute;
  left: 5%;
  margin-right: 20%;
}
.explicacion_funcionalidad h4 {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
.explicacion_funcionalidad p {
  text-align: center;
}

.icono_funcionalidad {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #30475e;
  border-radius: 50%;
}
.icono_funcionalidad img {
  width: 60%;
  height: 60%;
}

@media (max-width: 768px) {
  .section_funcionalidades .row {
    height: 1100px;
  }

  .explicacion_funcionalidad {
    margin: 0;
    padding: 10px;
    top: 5%;
  }

  .texto_funcionalidades {
    padding: 5%;
  }

  .carrusel_guardar,
.carrusel_clasificar,
.carrusel_repasar {
    right: 5%;
    left: 5%;
  }
}
.seccion_demo {
  margin-top: 30px;
  padding: 0;
}

.seleccion_versepocket {
  background-color: #30475e;
  padding: 20px;
  margin-bottom: 15px;
}
.seleccion_versepocket h4 {
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.seleccion_versepocket p {
  color: #000;
  text-align: center;
}

.demo {
  background-color: #222831;
  border: #222831 solid;
  padding: 20px;
  margin-bottom: 15px;
}
.demo h4 {
  color: #fff;
  text-align: center;
  font-weight: bold;
}
.demo p {
  color: #000;
  text-align: center;
  font-weight: normal;
}

.col_descripcion_demo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.col_descripcion_demo h2,
.col_descripcion_demo p {
  text-align: right;
}

.botones_demo {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}

.boton_demo {
  background-color: #C91616;
  color: #fff;
  font-family: raleway-regular;
  border-radius: 10px;
  margin: 9px;
}

@media (max-width: 950px) {
  .descripcion_demo {
    justify-content: center;
    margin: 0;
    text-align: center;
  }

  .botones_demo {
    justify-content: center;
  }
}
.separador_sumate_bottom {
  margin: 0;
  position: absolute;
  bottom: -2px;
  z-index: 30;
  width: 100%;
}
.separador_sumate_bottom img {
  transform: rotateY(180deg);
}

.separador_sumate_top {
  margin: 0;
  position: absolute;
  top: -5px;
  z-index: 30;
  width: 100%;
}
.seccion_sumate {
  margin: 0;
  padding-top: 15%;
  padding-bottom: 15%;
  position: relative;
}
.seccion_sumate:before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../img/fondo2.png);
  background-repeat: space;
  background-position: 50% 30%;
  opacity: 0.65;
  position: absolute;
  top: 0;
  left: 0;
}

.info_sumate {
  display: flex;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  z-index: 16;
}
.carrusel_testimonios .carousel-control-prev-icon,
.carrusel_testimonios .carousel-control-next-icon {
  background-color: #C91616;
  opacity: 0.55;
  border-radius: 50%;
  padding: 5px;
}

.testimonio {
  background-color: #fff;
  text-align: center;
  padding: 30px;
}
.testimonio h5 {
  color: #C91616;
  font-family: open-sans;
  font-weight: bold;
  font-size: 25px;
  margin: 10px auto;
}
.testimonio q {
  font-family: raleway-regular;
  font-style: italic;
}
.testimonio p {
  font-size: 15px;
  margin-top: 10px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .info_sumate {
    text-align: center;
    margin-bottom: 20px;
  }
}
.seccion_propaganda {
  background: #c91616;
  background: linear-gradient(130deg, #c91616 26%, #30475e 76%);
  margin-top: 50px;
  padding-bottom: 10%;
  position: relative;
}
.seccion_propaganda .row {
  width: 70%;
}

.separador_promo {
  margin: 0;
  position: absolute;
  bottom: -1;
  z-index: 30;
  width: 100%;
}
.propaganda {
  margin: auto;
}

#img_propaganda {
  width: 280px;
  margin: auto;
  padding-top: 7%;
  padding-bottom: 7%;
}

.col_img_propaganda {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
}

.col_texto_propaganda {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
}

.texto_propaganda {
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#boton_googleplay {
  width: 75%;
  margin: auto;
}

.info_final {
  margin: 25px;
}

.container_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  page-break-after: auto;
}

#logo_footer {
  width: 200px;
  padding: 10px;
}

.barra_redes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.barra_redes img {
  height: 30px;
  width: 30px;
  opacity: 0.8;
  margin: 5px 10px;
}

.verso_footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.verso_footer p {
  font-style: normal;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  font-family: open-sans;
}

.copyright {
  background-color: #222831;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright_info {
  margin: 20px;
}
.copyright_info p {
  color: #fff;
  text-align: center;
  font-weight: 10;
}
.copyright_info a {
  color: #C91616;
}