/*Sección Descripción*/
.section-descripcion {
    background-color: $color_principal1;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.contenedor_descripcion {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    /*border: #30475E 2px solid;*/
}

.row {
    /*border: #247acf 2px solid;*/
    margin: 0;
    padding: 0;
}

.col_descripcion {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    /*border: #247acf 2px solid;*/
}

.texto_descripcion {
    width: fit-content;
    text-align: left;
    padding-top: 10%;
    padding-left: 25%;
    margin: auto;
    bottom: 0;
    /*border: #30475E 2px solid;*/

    h2,
    h4 {
        margin-bottom: 10px;
    }
}

.col_img_descripcion {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
}

#img_descripcion {
    width: 330px;
    padding: 0;
    margin-right: 25%;
    /* border: #30475E 2px solid;*/
}

.separador_descripcion {
    position: absolute;
    top: 70%;
    z-index: 500;
    width: 100%;
    height: 30%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgb(231, 57, 57) 2px solid;

    img {
        height: 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .texto_descripcion{
        margin: 0;
        padding-left: 0;
        text-align: center;

       
    }

    #img_descripcion{
        margin: 0;
        width: 90%;
    }
}
