$tamaño_bolsillo: 230px;

.titulo {
    margin: 5px 20px;
    //font-family: raleway-semibold;
    font-family: open-sans;
    font-weight: bold;
    color: $color_secundario1;
    text-align: center;
}

.descripcion {
    padding: 2% 5%;
}

.categorias {
    text-align: center;
}

.carta-box {
    //padding: 25px;
    width: $tamaño_bolsillo;
    height: $tamaño_bolsillo;
    position: relative;
    perspective: 1000px;
}

.carta-box img {
    width: $tamaño_bolsillo;
    height: $tamaño_bolsillo;
}

.carta-box:hover .carta {
    transform: rotateY(180deg);
}

.carta {
    transform-style: preserve-3d;
    transition: all 0.5s linear;
}

.cara {
    position: absolute;
    backface-visibility: hidden;
}

.cara.detras {
    transform: rotateY(180deg);
    position: relative;
}
.descripcion_categoria {
    background-color: $color_principal1;
    width: $tamaño_bolsillo;
    height: $tamaño_bolsillo;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: dashed 4px $color_secundario1;
}

.nombre_categoria {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    // border: red 2px solid;
    width: $tamaño_bolsillo;
    height: $tamaño_bolsillo;
    top: 0;
    left: 0;
    color: $color_principal2;
}

.fila_categorias {
    //margin: 20px;
    //border: red 2px solid;
    .col-sm {
        //border: green 2px solid;
        display: flex;
        justify-content: center;
        margin: 20px 7px;
    }
}


@media (max-width: 768px) {
    .descripcion {
        text-align: center;
        //margin-bottom: 20px;
    }

    .fila_categorias {
        margin: 0 10%;
    }
}

.boton_eliminar{
    border: none;
    background: $color_principal1;
    font-weight: bold;
}