.registro {
    margin: 50px auto;
    width: 90%;

    p {
        text-align: center;
    }
    .col-sm {
        //border: green solid 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px 0;

        img {
            width: 90%;
            border-radius: 15px;
            opacity: 0.88;
            //margin: 10% auto;
        }
    }

    img {
        width: 80%;
        border-radius: 20px;
        //opacity: 0.88;
    }
}

.formulario2 {
    width: 95%;
    margin-top: 10%;
    margin-bottom: 10%;
    border: none;
}

.titulo2 {
    margin: 0;
}

.beneficios_registro {
    font-family: raleway-regular;
    font-size: 20px;
    li {
        margin-bottom: 5px;
    }
}
