<body>
    <div class="row justify-content-center registro">
        <h1 class="titulo titulo2 display-5">Inicia sesión en VersePocket</h1>
        <div class="col-sm col-lg-2">
            <img src="../../../assets/icon/logo.png=" alt="logo">
        </div>
        <div class="col-sm col-lg-4">
            <div class="container formulario formulario2">
                <form action="/inicio-sesion" method="POST">
                    <div class="mb-3">
                        <input type="email" name="correo" placeholder="Correo electrónico" class="form-control"
                            id="correoUsuario" aria-describedby="correoTip" required>
                    </div>
                    <div class="mb-3">
                        <input type="password" name="contrasena" placeholder="Contraseña" class="form-control"
                            id="contrasenaUsuario" aria-describedby="contrasenaTip" required>
                    </div>
                    <button type="submit" class="btn">Iniciar Sesión</button>
                </form>
            </div>
        </div>

        <p>La palabra de Dios a tu alcance siempre</p>
        <p>Para una mejor experiencia descarga la aplicación móvil</p>
        <br><br><br>
        <img src="../../../assets/img/img_promocional2.jpeg" alt="img_promocional2">

    </div>


</body>