<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VersePocket</title>
    <link rel="icon" href="/icon/logo.png">
    <!--Instalación Css Boostrap-->
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    <!--Instalación Hoja de Estilo personalizada-->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    {{{body}}}

    <footer>

        <div class="copyright">
            <div class="copyright_info">
                <p>VersePocket copyright - Todos los derechos reservados 2021</p>
                <p>
                    Iconos diseñados por <a href="https://www.flaticon.es/autores/freepik" title="Freepik">Freepik</a>
                    from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
                </p>
                <p>Desarrollado por <a href="https://www.flaticon.es/" title="Eliana Chávez">Eliana Chávez</a></p>
            </div>

        </div>

    </footer>

    <!--Instalación Jquery-->
    <script src="/plugins/jquery/jquery-3.3.1.min.js "></script>
    <!--Instalación Js Bootstrap-->
    <script src="/plugins/popper/popper.min.js "></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js "></script>
    <script src="/js/script.js"></script>

</body>

</html>