<section class="seccion_demo">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg">
                <div class="seleccion_versepocket">
                    <h4>Selección VersePocket</h4>
                    <p>Tenemos una Biblioteca de versículos escogidos para inspirarte, reconfortarte y recordarte
                        verdades asombrosas de la Palabra de Dios, puedes interactuar con ella cuando lo desees.
                    </p>
                </div>
                <div class="demo">
                    <h4>Demo</h4>
                    <p>Si quieres llevarte una idea de cómo se verá tu propio bolsillo de versículos, utiliza el
                        demo de la aplicación web o descarga la aplicación <b>no</b> necesitas registrate para
                        empezar a
                        usarla.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg col_descripcion_demo">
                <div class="descripcion_demo">
                    <h2>¡Dale una probadita!</h2>
                    <p>Visita las opciones de prueba para que te animes</p>

                    <div class="botones_demo">
                        <button id="boton_demo" type="button" class="btn boton_demo">Demo</button>
                        <button id="boton_demo" type="button" class="btn boton_demo">Biblioteca</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>