<nav class="navbar navbar-expand-lg navbar-light bg-light menu">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">VersePocket</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavDropdown">
            <ul class="navbar-nav menu_opciones">
                <li class="nav-item">
                    <a class="nav-link" routerLink="usuarios/registro">Registrarse <img class="menu_icon" src="../../../assets/icon/icono_registro2.png"
                            alt="registro"> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="usuarios/pagina-principal">Iniciar Sesión <img class="menu_icon" src="../../../assets/icon/icono_login2.png"
                            alt="login"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--routerLink="usuarios/inicio-sesion-->