<div class="info_final">
    <div class="row justify-content-center">
        <div class="col-lg-4 container_logo">
            <div>
                <img id="logo_footer" src="../../../assets/icon/logo.png" alt="">
                <div class="barra_redes">
                    <img src="../../../assets/icon/icono_instagram.svg" alt="">
                    <img src="../../../assets/icon/icono_facebook.svg" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-8 verso_footer">
            <p>En mi corazón he guardado tus dichos para no pecar contra ti <br> Salmo 119:11</p>
        </div>
    </div>
</div>