<app-barra-principal></app-barra-principal>
<div class="descripcion">
    <h1 class="titulo display-4">Crear Categoría</h1>
</div>

<div class="container formulario">
    <form #creacionCategoria="ngForm" (ngSubmit)="crearCategoria()">
        <div class="mb-3">
            <label for="nombreCategoria" class="form-label">Nombre</label>
            <input type="text" name="nombre" placeholder="Digita un nombre alusivo" class="form-control"
                id="nombreCategoria" name="nombreCategoria" #nombreCategoria="ngModel"
                [(ngModel)]="nuevaCategoria.nombre" aria-describedby="nombreCategoriaTip" autofocus>
            <div id="nombreCategoriaTip" class="form-text"></div>
        </div>
        <div class="mb-3">
            <label for="descripcionCategoria" class="form-label">Descripción</label>
            <textarea type="text" class="form-control" placeholder="Puedes agregar una descripción corta"
                id="descripcionCategoria" name="descripcionCategoria" #descripcionCategoria="ngModel"
                [(ngModel)]="nuevaCategoria.descripcion" aria-describedby="descripcionCategoriaTip"></textarea>
            <div id="descripcionCategoriaTip" class="form-text">No puedes exceder los 40 carácteres</div>

        </div>

        <button type="submit" class="btn">Crear</button>
    </form>
</div>