@import "../../../assets/scss/colores";

.section_funcionalidades {
    background-color: $color_principal1;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    align-items: center;

    .row {
        // border: blueviolet 2px solid;
        height: 570px;
        position: relative;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: $color_secundario1;
        opacity: 0.55;
        border-radius: 50%;
        padding: 5px;
    }
}

.contenedor_funcionalidades {
    margin: 0;
    padding: 0;
    width: 100%;
    /* border: #30475E 2px solid;*/
}

.texto_funcionalidades {
    width: fit-content;
    text-align: center;
    margin: auto;
    /*border: #30475E 2px solid;*/

    h2,
    h4 {
        margin-bottom: 10px;
    }
}

.botones-funcionalidades {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.boton_funcionalidad {
    padding: 10px 20px;
    margin: 10px;
    background-color: $color_secundario2;
    font-family: raleway-regular;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;

    &:hover {
        background-color: $color_principal1;
        border: solid $color_secundario2;
        color: $color_texto_normal;
    }
}

#boton_guarda {
    background-color: $color_principal1;
    border: solid $color_secundario2;
    color: $color_texto_normal;
}
.descripcion_funcionalidades {
    margin: 0;
    padding: 0;
}
.col_carrusel_funcionalidad {
    position: relative;
    margin: 0;
    padding: 0;
    // border: orangered 2px solid;
    height: fit-content;
}

.carrusel_guardar,
.carrusel_clasificar,
.carrusel_repasar {
    position: absolute;
    top: 0;
    right: 5%;
    left: 12%;
    margin: 0;
    padding: 0;
    //border: 2px blue solid;
}

.carrusel_clasificar,
.carrusel_repasar,
#explicacion_clasificar,
#explicacion_repasar {
    display: none;
}

.carrusel_funcionalidad {
    //margin-left: 15%;
    margin-top: 0;
    width: 90%;
    text-align: center;
    //border: solid red 2px;
    .carousel-item {
        img {
            margin: auto;
            width: 300px !important;
            //height: 700;
        }
    }
}

.col_explicacion_funcionalidad {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    //border: solid yellowgreen 2px;
}

.explicacion_funcionalidad {
    //border: solid green 2px;
    position: absolute;
    left: 5%;
    margin-right: 20%;
    h4 {
        text-align: center;
        margin-top: 20px;
        font-weight: bold;
    }
    p {
        text-align: center;
    }
}

.icono_funcionalidad {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color_secundario1;
    border-radius: 50%;

    img {
        width: 60%;
        height: 60%;
    }
}

@media (max-width: 768px) {
    .section_funcionalidades {
        .row {
            height: 1100px;
        }
    }

    .explicacion_funcionalidad {
        margin: 0;
        padding: 10px;
        top: 5%;
    }

    .texto_funcionalidades {
        padding: 5%;
    }

    .carrusel_guardar,
    .carrusel_clasificar,
    .carrusel_repasar {
        right: 5%;
        left: 5%;
        //border: 2px blue solid;
    }
}
