<nav class="navbar navbar-expand-lg menu">

    <div class="container-fluid">
        <a class="navbar-brand" href="/inicio">VersePocket <br> de </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/inicio"><img class="menu_icon" src="../../../assets/icon/icono_inicio.svg"
                            alt="inicio"><br>Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/categorias/listar"><img class="menu_icon" src="../../../assets/icon/icono_categorias.svg"
                            alt="categorias"><br>Categorías</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/versiculos"><img class="menu_icon" src="../../../assets/icon/icono_versiculos.svg"
                            alt="versiculos"><br>Versículos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img class="menu_icon" src="../../../assets/icon/icono_repaso.svg"
                            alt="repaso"><br>Repaso</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img class="menu_icon" src="../../../assets/icon/icono_configuraciones.svg"
                            alt="configuraciones"><br>Configuraciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img class="menu_icon" src="../../../assets/icon/icono_ayuda.svg"
                            alt="ayuda"><br>Instrucciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cerrar-sesion"><img class="menu_icon" src="../../../assets/icon/icono_salir.svg"
                            alt="salir"><br>Salir</a>
                </li>
            </div>
        </div>
    </div>
</nav>