<body>

    <!--Bienvenida-->
    <div class="container">
        <div class="jumbotron">
            <h1 class="saludo display-4">¡Hola {{usuario.nombre}}!</h1>
            <p class="lead">¡Qué bueno que hayas vuelto! A continuación algunos datos de tu Versepocket: </p>
            <br>
            <div class="container">
                <div class="row datos_usuario justify-content-center">
                    <div class="datosbd col-sm col-lg-5">
                        <div class="dato">
                            <h5>Último acceso: <span>18/01/2021</span></h5>
                        </div>
                        <div class="dato">
                            <h5>Racha: <span>32 días</span></h5>
                        </div>
                        <div class="dato">
                            <h5>Versículos guardados: <span>1</span></h5>
                        </div>
                        <div class="dato">
                            <h5>Categorías creadas: <span>2</span></h5>
                        </div>

                    </div>
                    <div class="verso col-sm col-lg-7">
                        <div>
                            <h5>Versículo del día</h5>
                            <p>Dichosos los que trabajan por la paz, porque serán llamados hijos de Dios. Mt 5:9</p>
                        </div>
                    </div>

                </div>
            </div>
            
            <hr class="my-4">
            <p>Recuerda cuan importante es la palabra de Dios para tu crecimiento espiritual, no dejes de atesorarla en
                tu corazón. Si tienes dudas sobre el uso de la aplicación clickea la pestaña de instrucciones</p>
        </div>
    </div>


    <!--Datos principales-->



</body>