    /*Fuentes*/

    @font-face {
        font-family: raleway;
        src: url("../font/Raleway-ExtraLight.ttf");
    }

    @font-face {
        font-family: raleway-regular;
        src: url("../font/Raleway-Regular.ttf");
    }

    @font-face {
        font-family: raleway-semibold;
        src: url("../font/Raleway-SemiBold.ttf");
    }

    @font-face {
        font-family: open-sans;
        src: url("../font/OpenSansCondensed-Light.ttf");
    }

    @font-face {
        font-family: open-sans-bold;
        src: url("../font/OpenSansCondensed-Bold.ttf");
    }

    body {
        background-color: #E8E8E8;
    }

    /*Navbar*/

    .menu {
        background-color: transparent !important;
        position: absolute;
        z-index: 10;
        width: 100%;
        margin-top: 10px;
        padding: 0 25px;
    }

    .menu_icon {
        width: 30px;
        height: 30px;
        margin: 3px;
    }

    .menu_opciones {
        position: absolute;
        right: 20px;
    }

    .nav-link {
        color: white !important;
        font-family: raleway;
        font-size: large;
    }

    .navbar-brand {
        color: white !important;
        font-family: raleway;
        font-style: bold;
        font-size: 3vw;
    }

    /*Carrusel*/

    .carousel-indicators {
        border: #30475E solid 3px;
        position: relative;
        background-color: #30475E;
    }

    .carousel-indicators li {
        display: inline-block;
        width: 50px;
        position: relative;
    }

    .separador {
        position: absolute;
        bottom: 0;
        z-index: 500;
        height: 25%;
        width: 100vw;
    }

    .carousel-inner {
        position: relative;
    }

    .carousel {
        margin-bottom: 20px;
    }

    .carousel-item {
        position: relative;
        height: 100%;
    }

    .fondo {
        background-color: black;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        top: 0;
    }

    .caption {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        opacity: 1;
        top: 0;
    }

    .caption h2 {
        opacity: 1;
        color: white;
        font-size: 6.5vw;
        z-index: 12;
        text-align: center;
        padding: 0 20px;
        font-family: raleway-semibold;
        font-style: bold;
    }

    /*Seccion Descripcion*/

    .section-descripcion {
        background-color: #E8E8E8;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
    }

    .descripcion {
        width: fit-content;
        text-align: left;
        padding-top: 10%;
        padding-left: 25%;
        margin: auto;
        bottom: 0;
        /*border: #30475E 2px solid;*/
    }

    .descripcion h2 {
        font-family: open-sans-bold;
        color: black;
        font-size: 50px;
        margin-bottom: 10px;
        padding: 0;
    }

    .descripcion h4 {
        font-family: raleway-regular;
        color: #30475E;
        font-size: 28px;
        margin-bottom: 10px;
        padding: 0;
    }

    .descripcion p {
        font-family: raleway-regular;
        color: black;
        font-size: 20px;
        margin: 0;
        padding: 0;
    }

    #mano {
        width: 330px;
        padding: 0;
        margin-right: 25%;
        /* border: #30475E 2px solid;*/
    }

    .video_promocional iframe {
        border: green 2px solid;
    }

    .contenedor_descripcion {
        margin: 0;
        width: 100%;
        /* border: #30475E 2px solid;*/
    }

    .col-sm {
        /*border: #247acf 2px solid;*/
    }

    .div-descripcion {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        /*border: #247acf 2px solid;*/
        margin-left: 20px;
    }

    .div-mano {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        text-align: center;
        position: relative;
        margin: 0;
        padding: 0;
    }

    .row {
        /* border: #30475E 2px solid;*/
        margin: 0;
        padding: 0;
    }

    /*Sección Funcionalidades*/

    .funcionalidades {
        margin: 0;
        padding: 2vh 8vw;
    }

    .funcionalidad {
        text-align: center;
        border: solid 2px #30475E;
        border-radius: 20px;
        padding-top: 20px;
        background-color: white;
    }

    .funcionalidad img {
        width: 100px;
        align-self: center;
        padding: 10px;
    }

    .funcionalidad h5 {
        font-family: open-sans-bold;
        font-size: xx-large;
        color: #30475E;
    }

    .funcionalidad p {
        font-family: raleway-regular;
        font-size: large;
        padding-bottom: 15px;
        color: black;
    }

    /*Selección VersePocket*/

    #descripcion_sv {
        position: relative;
    }

    .seleccion_versepocket {
        margin-top: 15px;
        text-align: center;
        width: 100%;
    }

    .seleccion_versepocket::before {
        content: "";
        background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url("../img/fondo_sv.jpg");
        background-repeat: round;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        right: 0;
        margin: 0;
    }

    .opciones_sv {
        width: 100%;
        text-align: center;
        padding: 0 10vw;
    }

    .opcion_sv {
        position: relative;
        text-align: center;
        margin: auto;
    }

    .opcion_sv h5 {
        background-color: white;
        border-radius: 15px;
        width: fit-content;
        font-family: open-sans-bold;
        padding: 30px;
    }