<section class="seccion_propaganda">
    <div class="row justify-content-center propaganda">
        <div class="col-sm-12 col-12 col-md-6 col-lg-6 col_img_propaganda">
            <img id="img_propaganda" src="../../../assets/img/img_propaganda.png" alt="" srcset="">
        </div>
        <div class="col-sm-12 col-12 col-md-6 col-lg-6 col_texto_propaganda">
            <div class="texto_propaganda">
                <h2>¡Descarga Ahora!</h2>
                <img id="boton_googleplay" src="../../../assets/img/boton_googleplay.png" alt="" srcset="">
            </div>
        </div>
    </div>
    <div class="separador_promo">
        <img src="../../../assets/img/triangle-uneven-bottom.svg" alt="">
    </div>
</section>