{{#if mensajesExitosos}}
<div class="alert alert-success alert-dismissible fade show mensaje_error" role="alert">
    <strong>{{mensajesExitosos}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#if mensajesErroneos}}
<div class="alert alert-danger alert-dismissible fade show mensaje_error" role="alert">
    <strong>{{mensajesErroneos}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

