<div id="carouselExampleSlidesOnly" class="carousel slide carousel_principal" data-bs-ride="carousel">
    <div class="carousel-inner carousel_inner_principal">
        <div class="carousel-item carousel_item_principal active">
            <img src="../../../assets/img/img-slider1.png" class="d-block w-100" alt="slider1">
            <div class="fondo"></div>
            <div class="caption">
                <h2>Tu archivador personal de versículos</h2>
            </div>
        </div>
        <div class="carousel-item carousel_item_principal">
            <img src="../../../assets/img/img-slider2.png" class="d-block w-100" alt="slider2">
            <div class="fondo"></div>
            <div class="caption">
                <h2>La Palabra de Dios a la mano siempre</h2>
            </div>
        </div>
        <div class="carousel-item carousel_item_principal">
            <img src="../../../assets/img/img-slider3.png" class="d-block w-100" alt="slider3">
            <div class="fondo"></div>
            <div class="caption">
                <h2>
                    <q>En mi corazón he guardado tus dichos para no pecar contra ti</q>
                </h2>
            </div>
        </div>
        <div class="separador">
            <img src="../../../assets/img/basic-triangle-bottom.svg" alt="" srcset="">
        </div>
    </div>

</div>
