$color_principal1: #e8e8e8;
$color_principal2: #C91616; //#E32020;// #f05454;
$color_secundario1: #30475e;
$color_secundario2: #222831;
$color_texto_normal: #000;

body {
    background: $color_principal1;
}

h2 {
    font-family: open-sans-bold;
    color: $color_texto_normal;
    font-size: 50px;
    padding: 0;
}

h4 {
    font-family: raleway-regular;
    color: $color_secundario1;
    font-size: 28px;
    padding: 0;
}

p {
    font-family: raleway-regular;
    color: $color_texto_normal;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.boton {
    background-color: $color_secundario1;
    color: $color_principal1;
    font-weight: normal;
    border-radius: 16px;
    border: solid darken($color_secundario1, 10%) 3px;
    margin-top: 15px;
    width: 30%;

    &:hover {
        background-color: $color_principal1;
        color: $color_secundario1;
        border-radius: 16px;
        border: solid darken($color_secundario1, 10%) 3px;
    }
}



