.formulario {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 50px;
    font-family: raleway-regular;
    border: solid $color_secundario1 3px;
    padding: 30px;
    border-radius: 15px;

    label {
        font-weight: bold;
    }

    button {
        background-color: $color_principal2;
        color: black;
        font-weight: bold;
        border-radius: 16px;
        border: solid darken($color_principal2, 10%) 3px;
        margin: auto;

        &:hover{
            background-color: $color_principal1;
            color: $color_principal2;
            border-radius: 16px;
            border: solid darken($color_principal2, 10%) 3px;

        }
    }

    
}
.mensaje_error{
    width: 40%;
    margin: 0 auto;
    margin-bottom: 1px;
    margin-top: 50px;
}



@media (max-width: 768px) {
    .formulario {
        width: 80%;
        border: solid $color_principal1 3px;
        padding: 0;
    }

    .mensaje_error{
        width: 80%;
    }
}
