.seccion_propaganda {
    background: rgb(201, 22, 22);
    background: linear-gradient(130deg, rgba(201, 22, 22, 1) 26%, rgba(48, 71, 94, 1) 76%);
    margin-top: 50px;
    //padding-top: 10%;
    padding-bottom: 10%;
    position: relative;
    .row {
        width: 70%;
    }
}

.separador_promo {
    margin: 0;
    position: absolute;
    //top:0;
    bottom: -1;
    //border: red 2px solid;
    z-index: 30;
    width: 100%;

    img {
        //transform: rotateY(180deg);
    }
}

.propaganda {
    margin: auto;
    //border: solid greenyellow 2px;
}

#img_propaganda {
    width: 280px;
    margin: auto;
    padding-top: 7%;
    padding-bottom: 7%;
}

.col_img_propaganda {
    display: flex;
    justify-content: center;
    align-items: center;
    //border: solid blue 2px;
    padding: auto;
}

.col_texto_propaganda {
    display: flex;
    justify-content: center;
    align-items: center;
    // border: solid orangered 2px;
    padding: auto;
}

.texto_propaganda {
    display: flexbox;
    justify-content: center;
    align-items: center;
    //border: solid green 2px;
    text-align: center;
}

#boton_googleplay {
    width: 75%;
    margin: auto;
}
