<section class="section-descripcion">
    <div class="contenedor_descripcion container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm col-md col-5 col_descripcion">
                <div class="texto_descripcion">
                    <h2>¿Qué es VersePocket?</h2>
                    <h4>Tu archivador personal de versículos</h4>
                    <p>Una herramienta para que guardes, clasifiques y repases tus versículos de la Biblia
                        favoritos.
                    </p>
                </div>
            </div>
            <div class="col-sm col-md col-7 col_img_descripcion">
                <img id="img_descripcion" src="../../../assets/img/mano2.png" alt="Mano sosteniendo celular">
            </div>
        </div>
        <!--
        <div class="separador_descripcion">
            <img src="./img/slant-bottom.svg" alt="" srcset="">
        </div>-->
    </div>


</section>