@import "../../../assets/scss/colores";

footer {
    //border: solid blue 7px;

    a {
        text-decoration: solid;
    }
}

.copyright {
    background-color: $color_secundario2;
    display: flex;
    justify-content: center;
    align-items: center;
    //border: solid greenyellow 5px;
}

.copyright_info {
    margin: 20px;

    p {
        color: #fff;
        text-align: center;
        font-weight: 10;
    }

    a {
        color: $color_principal2;
    }
}
