<section class="seccion_sumate">

    <div class="separador_sumate_bottom">
        <img src="../../../assets/img/triangle-uneven-bottom.svg" alt="">
    </div>
    <!--
    <div class="separador_sumate_top">
        <img src="./img/triangle-uneven-top.svg" alt="">
    </div>-->


    <div class="container">
        <div class="row justify-content-center">
            <div class="info_sumate col-12 col-sm-12 col-md-6 col-lg-8">
                <div>
                    <h2>¡Súmate!</h2>
                    <p>Registrate para llevar contigo a todas partes la Palabra de Dios</p>
                    <button id="boton_registro" type="button" class="btn boton_demo">Registrate</button>
                </div>

            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div id="carouselExampleControls" class="carousel slide carrusel_testimonios"
                    data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="testimonio">
                                <h5>Laura Chávez</h5>
                                <q>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam inventore
                                    laudantium, distinctio voluptatum molestias minima voluptas. Delectus iste atque
                                    vitae asperiores, cum tenetur dolorem modi repudiandae unde eligendi omnis.
                                    Soluta?</q>
                                <p>Estudiante</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonio">
                                <h5>Glinys Valencia</h5>
                                <q>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam inventore
                                    laudantium, distinctio voluptatum molestias minima voluptas. Delectus iste atque
                                    vitae asperiores, cum tenetur dolorem modi repudiandae unde eligendi omnis.
                                    Soluta?</q>
                                <p>Trabajadora</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonio">
                                <h5>Ana Rodriguez</h5>
                                <q>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam inventore
                                    laudantium, distinctio voluptatum molestias minima voluptas. Delectus iste atque
                                    vitae asperiores, cum tenetur dolorem modi repudiandae unde eligendi omnis.
                                    Soluta?</q>
                                <p>Ama de casa</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>