<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VersePocket</title>
    <link rel="icon" href="/icon/logo.png">
    <!--Instalación Css Boostrap-->
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap/css/bootstrap.min.css">
    <!--Instalación Hoja de Estilo personalizada-->
    <link rel="stylesheet" href="/css/versepocket.css">
</head>

<body>

    {{> mensajes}}
    {{> errores}}
    {{{body}}}
    <footer>

        <div class="copyright">
            <div class="copyright_info">
                <p>VersePocket copyright © - Todos los derechos reservados 2021</p>
            </div>
        </div>

    </footer>
    <!--Instalación Jquery-->
    <script src="/plugins/jquery/jquery-3.3.1.min.js "></script>
    <!--Instalación Js Bootstrap-->
    <script src="/plugins/popper/popper.min.js "></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js "></script>
</body>