
@font-face {
    font-family: raleway;
    src: url("../font/Raleway-Light.ttf");
}

@font-face {
    font-family: raleway-regular;
    src: url("../font/Raleway-Regular.ttf");
}


@font-face {
    font-family: raleway-semibold;
    src: url("../font/Raleway-SemiBold.ttf");
}

@font-face {
    font-family: open-sans;
    src: url("../font/OpenSansCondensed-Light.ttf");
}

@font-face {
    font-family: open-sans-bold;
    src: url("../font/OpenSansCondensed-Bold.ttf");
}
